<!DOCTYPE html>
<html lang="en">
<head>
	<!-- using blocks:allows us to insert/modify all of inside of it when
	modifying it from other file just make sure put blocks & insert thing
	on its middle -->

		<style type="text/css">
		body{
			display: flex;
			margin: 0;
			padding: 0;
			gap: 50px;
		}

		.sidenav {
			height: 100%;
			width: 160px;
			height: 100vh;
			background-color: #111;
			overflow-x: hidden;
			padding-top: 20px; 
		}

		.sidenav a{
			padding: 6px 8px 6px 16px;
			text-decoration: none;
			font-size: 25px;
			color: #818181;
			display: block;
		}

	.sidenav a:hover{
		color: #f1f1f1;
	}

	.main{
		margin-left: 160px;
		padding: 0px 10px;

	}

	</style>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


	<title>{% block title %}Base Template{% endblock %}</title>
</head>
<body>


	<div class='sidenav'>
		<a href='/'>Home</a>
		<a href='/create'>Create List</a>
		<a href='/lists'>My Lists</a>
	</div>

	<div id='content',name='content', class='main'>
		<div class='row justify-content-center'>
			<div class='col-10'>
				<h1 class='mt-1'>My Site</h1>
				<hr class='mt-0 mb-3'>
				{% block content %}
				base template
				{% endblock %}
			</div>
		</div>
	</div>
</body>
</html>
