<!-- Import -->
{% extends "main/base.html" %}
{% block title %}View List{% endblock %}
 
{% block content %}
	<h1>{{cnt.name}}</h1>
	<form method="post" action="#">
	{% csrf_token %}
	{% for item in cnt.item_set.all %}
		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<div class="input-group-text">
					{% if item.complete == True %}
					<!-- this inputs could give you checkbox of clomplete and not -->
						<input type="checkbox", value="clicked", name="c{{item.id}}" checked>
					{% else %}
						<input type="checkbox", value="clicked", name="c{{item.id}}">
					{% endif %}
				</div>
			</div>
			<input type="text", value="{{item.text}}", class="form-control">
		</div>
		{% endfor %}
	
		<!-- This buttons for adding/saving items -->
		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<input type="text", name="new">
				<button type="submit", name="newItem", value="newItem", class="btn btn-success">Add Item</button>
			</div>
		</div>
		<button type="submit", name="save", value="save", class="btn btn-success">Save</button>
    </form>
{% endblock %}
